@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app-body{
    font-family: "Poppins", sans-serif !important;
    background-image: url("images/sunny.jpg");
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all 1s;
    backdrop-filter: blur(6px);
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(139 139 139 / 34%);
    z-index: -1;
}

.wrapper{
    padding-top: 54px;
    padding-bottom: 54px;
}

/* Search Bar */

.input-group{
    border-radius: 52px;
    box-shadow: 4px 4px 16px #6f6f6f52;
}

.input-group .form-control{
    height: 58px;
    font-family: "Poppins", sans-serif;
    border-radius: 52px;
    border: none;
    padding: 1.25rem;
}

.input-group .input-group-text{
    padding: 1rem 1.25rem;
    background-color: #fff;
    border: none;
    border-radius: 52px;
}

/* Weather Section */

.weather-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-section .temp-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-section .temp-section .weather-icon{
    max-width: 64px;
}

.weather-section .temp-section .temp{
    font-size: 94px;
    line-height: 0;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 8px #3f3f3f2b;
}

.weather-section .city{
    background-color: #ffffff69;
    width: auto;
    font-size: 16px;
    border: 1px solid #e5e5e582; 
    text-align: center;
    font-weight: 400;
    margin-top: 42px !important;
    font-family: "Poppins", sans-serif;
    padding:12px 32px;
    border-radius: 54px;
}

.other-section{
    width: auto;
    border-radius: 12px;
}

.other-section .humid-tab img, .other-section .wind-tab img{
    max-width: 32px;

}

.other-section .humid-tab .humidity, .wind{
    font-size: 32px;
    margin: 0;
    font-weight: 500;
}
.forecast-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forecast-section .forcard-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e5e5e582; 
    align-items: center;
    background-color:#ffffff69;
    padding: 24px;
    margin: 24px 12px;
    border-radius: 12px;
}
.forecast-section .forcard-card h4, .forecast-section .forcard-card p{
    margin: 0;
}
.forecast-section .forcard-card p{
    color: #575757;
}

.forecast-section .forcard-card .forcast-icon{
    max-width: 32px;
}